<div class="container mx-auto p-4">
  <div *ngIf="curso" class="course-card rounded-lg p-6 mb-8">
    <div class="course-image-container mb-6">
      <img ngSrc="../../../assets/imagenes/angular.jpg" alt="Imagen del Curso de Angular" width="600" height="300" class="course-image rounded-lg shadow-md">
    </div>

    <h2 class="text-3xl font-bold mb-4">{{ curso.nombre }}</h2>
    <p class="text-lg">{{ curso.descripcion }}</p>
    <div class="mt-6">
      <button class="enroll-button font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out">
        Inscribirse Ahora
      </button>
    </div>
  </div>

  <div *ngIf="!curso" class="loading-alert p-4" role="alert">
    <p class="font-bold">Cargando curso...</p>
    <p>Si el curso no aparece, es posible que el ID no sea válido o que haya un problema de conexión.</p>
  </div>
</div>